.my-form{
	padding:20px;
}
.my-form .form-group{
	padding-bottom: 15px;
}
.my-form label{
	display: block;
}

input, textarea{
	padding-bottom: 8px;
	width: 100%;
}
.button{
	width: auto;
}

@media(max-width:500px){
    
    .container{
        width: 100%;
        float: none;
    }

    
} 